    <li id="post-<%= post.id %>" class="post">
        <% if(locals.user && post.user.id==locals.user.id){ %> 
        <small>
            <a href="posts/destroy/<%= post.id %>" class="delete-btn">x</a>
        </small>
        <% } %> 
        <h4><%= post.user.name %></h4>
        <%= post.content %>
        <br><br>
        <% if(locals.user){ %> 
            <% let liked=false; %> 
            <form class="likes-container" action="">
                <input type="hidden" name="likeableId" value="<%= post._id %>">
                <input type="hidden" name="type" value="Post">
                <input type="hidden" name="likeNo" value="<%= post.likes.length %>">
                <% for(let like of post.likes){ %>
                    <% let s1= like.user._id%> 
                    <% let s2=locals.user._id %> 
                    <% if(s1.toString()==s2.toString()){ %>

                        <% liked=true;break; %> 
                    <% } %> 
                   
                <% } %> 
                <% if(liked){ %> 
                    <button type="submit" style="background-color: green;">&#128077;</button>
                    <!-- <p>liked</p>  -->
                <% }else{ %>
                    <button type="submit">&#128077;</button>
                <% } %> 
            <% } %> 
                <p>Likes: <span id="post-like-<%= post.id %>"><%= post.likes.length %></span> </p>
            </form>
        
        <br><br>
        <p>comments:</p>

        <ul id="comment-list-<%= post.id%>" class="comments">
            <% for(let comment of post.comments){ %>
                <!-- including partials and passing data to them -->
                <%- include('_comment',{comment:comment}) %> 
            <% } %> 
        </ul>

        <% if(locals.user){ %> 
        <form action="/comment/create" method="post" id="comment-create-<%= post.id %>">

            <textarea name="comment" cols="30" rows="3" placeholder="comment.."></textarea>
            <!-- take care of indentation below in value attribute..do not put extra space 
            otherwise value will include that indentation and if we try to search in
        database on the basis of that value the database will not recognize that value-->
            <input type="hidden" name="postid" value="<%=post._id%>">
            <input type="submit" value="post-comment">
            
        </form>
        <% } %> 
        
        <p>--------------------------------------------------------------------------</p></li>

