<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- here below about 2 lines: -->
    <!-- we here are using Notyjs in order to style our flash messages (pop ups while sign in or out or in 
        case of error) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="<%= assetPath('css/layout.css') %>" type="text/css">
    <title><%= title %> </title>
</head>
<body>

<!-- below code will not be executed --> 
    <!-- in order to comment the code in ejs instead of using comment syntax we are putting false inside 'if' -->
    <!-- locals.user and user are samme here ..we are just writing locals.user in order to avoid error
    as if user is not present in locals then ejs will not be able to identify 'user' alone and will 
    throw error that 'user' variable is not defined -->
        <div id="header">

            <h4>Codial</h4>        
            <div>

                <% if(locals.user){ %>


                <a href="/users/profile/<%= locals.user.id %>"><%= locals.user.name %><br>
                    <br><%= locals.user.email %></a>
                <% }else{ %>

                    <a href="/users/signin">Sign In</a>
                    <a href="/users/signup">Sign Up</a>
                    <% } %>
            </div>
        </div>
        <div id="main">
            <div id="posts">

                <% if(locals.user){ %> 
                    <h2>Post Something</h2>
                    <form action="/posts/create" method="post" id="new-post-form">
                        <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
                        <input type="submit" value="post">
                    </form>
                    <% } %> 
                    <h3>Posts</h3>
                    
                    <ul id="posts-container">
                        <% for(let post of posts){ %>  
                            <!-- including partials and passing data to them --> 
                            <%- include('_posts',{post:post}) %> 
                        <% } %> 
                    </ul>

            </div>
            <% if(locals.user){ %>
                
                
            <div id="frnd-user">
                <div id="friends">

                    <p>Friends:</p>
                        <% for(let friend of locals.userFriends.friends){ %>
                            <p><a href="/users/friends/delete/<%= friend._id %>" class="friend-delete">x</a> <a href="/users/profile/<%= friend.id %>"><%= friend.name %> </a></p>
                        <% } %> 
                </div>
                <div id="users">

                    <p>Users:</p>
                    <% for(let u of all_users){ %> 
                        <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                        <br>
                    <% } %> 
                </div>
            </div>
            <% } %> 

        </div>
        
        <div id="footer">

            <div>
                &copy Codial all rights reserved 2021
            </div>
            <% if(locals.user){ %>
                <div><a href="/users/signout">Log out</a></div>
            <% } %>
        </div>
        
        <div id="chat-box">
            
            <ul id="messages">
                <% if(locals.user && locals.myProfile.chatroom.length>0){ %> 

                    <% for(let message of locals.myProfile.chatroom[0].messageId){ %> 
                        <% if((message.sentBy).toString()==locals.user.id){ %> 
                            <li class="self-msg message"><%= message.message %> </li>
                        <% }else{ %>
                            <li class="friend-msg message"><%= message.message %> </li>
                        <% } %> 
                    <% } %>


                <% } %> 
                <!-- <li class="message">message1</li> 
                <li class="message">message2</li>  -->
            </ul>

            <form id="write" action="" method="post">
                <input type="" name="" id="" placeholder="TYPE HERE...">
                <button type="submit">SEND</button>
            </div>
        </div>
        <!-- the syntax error will always appear while using noty but the same is not wrong -->
        <!--  -->
        <script src="<%= assetPath('front_java/chatEngine.js') %>" type="text/javascript"></script>

        <!-- below syntax no longer be needed to use as we are using ajax so we have written the code in the front_java
        so that our page could become dynamic -->
        <!-- using if (false) to comment the below code-->
        <script>
            <% if(flash.success && flash.success.length>0){ %>

                new Noty({

                    theme: 'relax',
                    text: "<%= flash.success%>",
                    type: 'success',
                    layout: 'topRight',
                    timeout: 1500


                }).show();
            <% } %>

        </script>

        
        <!-- setting up the chat engine on front end side -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="<%= assetPath("front_java/home_front_java1.js") %>"></script>
    
    <% if(locals.user){ %>
        <script>

            new chatEngine('chat-box','<%=locals.user.email%>','<%=locals.user.id%>');
        </script>
    <% } %> 


    <!-- ------------------------------ -->
</body>
</html>