<div id="left" class="side-list-container">
    <div class="side-list-sub-container">
        <div class="heading user-select"><p>Friends</p></div>
        <ul id="friends">
          <% for(let friend of userFriends){ %> 

            <li>
              <div class="list-content-wrapper">
                <a href="" class="profile-btn">

                  <% if(friend.requestBy.id.toString()==user.id.toString()){ %> 
                    <%= friend.requestTo.name %> 
                  <% }else{ %>
                    <%= friend.requestBy.name %> 
                  <% } %> 
                </a>
                <a href="" class="msg-add-friend"><i class="fas fa-comment-dots"></i></a>
              </div>
              <div class="side-list-border"></div>
            </li>

            <% } %> 
          
        </ul>
    </div>
    <div class="side-list-sub-container">


      <div class="heading user-select"><p>Groups</p></div>
      <ul id="users">
          


          
          <li><p>xyz</p><div class="side-list-border"></div></li>
          <li><p>xyz</p><div class="side-list-border"></div></li>
          <li><p>xyz</p><div class="side-list-border"></div></li>
          <li><p>xyz</p><div class="side-list-border"></div></li>
          <li><p>xyz</p><div class="side-list-border"></div></li>
          <li><p>xyz</p><div class="side-list-border"></div></li>
          <li><p>xyz</p><div class="side-list-border"></div></li>
          <li><p>xyz</p><div class="side-list-border"></div></li>
          <li><p>xyz</p><div class="side-list-border"></div></li>
          <li><p>xyz</p><div class="side-list-border"></div></li>
          <li><p>xyz</p><div class="side-list-border"></div></li>
          <li><p>xyz</p><div class="side-list-border"></div></li>
          <li><p>xyz</p><div class="side-list-border"></div></li>
          <li><p>xyz</p><div class="side-list-border"></div></li>
      </ul>
  </div>

</div>
<!-- ----------------------------------------------------------- -->
<div id="right" class="side-list-container">
  <div class="side-list-sub-container">
    <div class="heading user-select"><p>Users</p></div>
    <ul id="users">
        
      <% for(let user of all_users){ %> 
        <% if((user._id).toString()!=(locals.user._id).toString()){ %> 
        <li id="all_users_id_<%= user.id %>">
          <div class="list-content-wrapper">
            <a href="" class="profile-btn"><%= user.name %></a>
            <a href="" class="msg-add-friend" userIdValue="<%= user.id %>">
              
              <% if(locals.user.sendedRequest.includes(user.id)){ %> 
                <i class="fas fa-check"></i>
              <% }else{ %>
                <i class="fas fa-user-plus"></i>
              <% } %> 
             
            
            </a>
          </div>
          <div class="side-list-border"></div>
        </li>
        <% } %> 
      <% } %> 
      

    </ul>

</div>
    <div class="side-list-sub-container chat-box"  id="chat-container">
      <div class="heading user-select"><p>Chats</p></div>
      <div class="chats-container">

        <div class="welcome-text"><p>Click on chat button besides your friend's name</p></div>
      </div>
    </div>
</div>
<script>
  console.log('userFriends: ','<%=userFriends%>');
</script>